.best-moments-section {
  padding: 4vw 8.6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.best-moments-section h2 {
  font-weight: 700;
  font-size: 3vw;
  width: 70%;
  text-align: center;
  line-height: 4.69vw;
  margin-bottom: 3vw;
}

/* Best moments */

.best-moments-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1.43vw;
  gap: 1.43vw;
}

.best-moments-box {
  display: flex;
  flex-direction: column;
  width: 25vw;
  cursor: pointer;
  border: 0.05vw solid #e5e7eb;
}

.best-moments-box img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.inside-best-moments-box {
  height: 50%;
  padding: 1.07vw 0 0 1.5vw;
  display: flex;
  flex-direction: column;
}

.inside-best-moments-box h4 {
  font-weight: 600;
  font-size: 1.2vw;
  margin-bottom: 1.79vw;
}

.inside-best-moments-box h4:hover {
  color: var(--primary-color);
}

.speakers-name {
  display: flex;
  align-items: center;
  margin-bottom: 1.43vw;
}

.speakers-name img {
  width: 1.3vw;
  height: 1.3vw;
  padding: 0 0.44vw 0 0;
}

.name-speaker {
  font-weight: 500;
  font-size: 1vw;
}

.date-speaker,
.location-speaker {
  font-size: .87vw;
}

.infoSpeaker {
  text-align: justify;
  padding: 1.07vw;
  line-height: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-btn {
  background-color: #007AFF;
  color: white;
  padding: .5vw 1.4vw;
  border: none;
  border-radius: 0.35vw;
  font-size: 1.2vw;
  font-weight: 200;
  cursor: pointer;
  margin-top: .7vw;
}

.feedback-btn:hover {
  color: #000;
}

.feedback-btn:focus {
  outline: none;
}

.best-moments-section h3 {
  font-weight: 500;
  font-size: 2.2vw;
  text-align: center;
  margin: 4vw 0;
}


.search-bar {
  position: relative;
  width: 32vw;
  margin: 2vw 0;
  left: -3%;
}

.search-bar input[type="text"] {
  width: 94%;
  height: auto;
  padding: .71vw 4vw;
  border-radius: 0.4vw;
  border: 0.1vw solid var(--secondary-color);
  margin: 0;
}

.search-bar input[type="text"]::placeholder {
  color: var(--secondary-color);
}

.search-bar input[type="text"]:focus {
  border-color: #007AFF;
  outline: none;
}

.search-bar input[type="text"]:hover {
  border-color: var(--caption-color);
}

.search-bar button[type="submit"] {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.3vw;
  background-color: transparent;
  border: none;
}

button[type="submit"] img {
  width: 2.1vw;
  height: 2.1vw;
}

@media only screen and (max-width: 768px) {
  .search-bar input[type="text"]::placeholder {
    font-size: 2.3vw;
  }

  button[type="submit"] img {
    width: 3vw;
    height: 3vw;
  }

  .search-bar button[type="submit"] {
    padding: 0.8vw;
  }
}