/* 0.6015254686, 13.9. 8.336 */
:root {
    --primary-color: #007AFF;
    --secondary-color: #75e0a5;
    --caption-color: #9095A1;
    --main-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --heading: 500 2.6vw var(--main-font);
    --sub-heading: 300 2.15vw var(--main-font);
}

body {
    font-family: var(--main-font);
}

strong {
    font-weight: 600;
    font-size: 1.15vw;
}

header nav .head {
    width: 100%;
    height: 7.19vw;
}

.mobile {
    display: none;
}

.desktop {
    display: flex;
}

.nav-links {
    justify-content: space-between;
    margin: 0 2.15vw 0 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0%;
}

nav img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    margin: 0 0 0 2.15vw;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    margin-left: 2vw;
}

.nav-link:hover {
    color: var(--secondary-color);
}

.nav-links li:first-child {
    margin-left: 0;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.nav-link-active {
    color: var(--primary-color);
}

/* 
.nav-links li {
    margin-left: 2vw;
}

.nav-links li a {
    color: black;
    text-decoration: none;

}


.nav-link-active {
    color: var(--primary-color);
    background-color: aqua;
} */

@media only screen and (max-width: 768px) {
    header {
        height: 7.14vw;
    }

    .mobile {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }

    .mobile .nav-img {
        width: 20%;
    }

    .mobile .nav-img img {
        width: auto;
        height: fit-content;
    }

    .mobile .nav-links {
        font-size: 1.5vw;
        /* display: inline-flex; */
        align-items: center;
    }

}