<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./styles/reset.css">
    <!-- <link rel="stylesheet" type="text/css" href="./styles/styles.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>YouthForYouth</title>
</head>

<body>

    <!-- Navigation Bar -->
    <nav class="desktop mobile">
        <!-- Nav image -->
        <img src="./images/project/logo/logo.png" alt="logoImg" />
        <!-- Navigation links -->
        <ul>
            <li><a class="color" href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Support Us</a></li>
        </ul>
    </nav>

    <!-- Background Image with Text -->
    <div class="background-image">
        <div class="centered-text">
            <!-- Text content -->
            <p class="first">Discover opportunities with&nbsp;
                <t class="color"> Youth For Youth</t>
            </p>
            <p class="second">Connect With Afghan Youth</p>
        </div>
    </div>

    <!-- Sub Navigation Bar -->
    <!-- <div class="sub-nav">
        Upcoming Event information
        <div class="column">
            <li><strong>Events</strong></li>
            <li>Find Upcoming Events</li>
        </div>
        <div class="line"></div>
        <div class="column">
            <li><strong>Date</strong></li>
            <li>Select Date</li>
        </div>
        <div class="column">
            <li><strong>Time</strong></li>
            <li>Select Time</li>
        </div>
        <div class="column">
            <li><strong>Speakers</strong></li>
            <li>Explore Speakers</li>
        </div>
    </div> -->

    <!-- Quote Section
    <div class="quote-section">
        Quote content
        <div class="quote-container">
            <div class="quote-icon">
                <img src="./images/project/icons/icons8-quote-left-50.png" alt="Quote icon by Icons8" />
            </div>
            <p class="quote-text">A catalyst for the development of both young leaders and their projects.</p>
            <div class="quote-icon">
                <img src="./images/project/icons/icons8-quote-50.png" alt="Quote icon by Icons8" />
            </div>
        </div>
        <p class="quote-source">New York Times</p>
    </div> -->

    <!-- Categories Section
    <div class="categories-section">
        <h2>Categories</h2>
        <div class="box-container">
            <div class="box big-box a">
                <p>Education</p>
            </div>
            <div class="spaced">
                <div class="box small-box b">
                    <p>Workshop</p>
                </div>
                <div class="box small-box c">
                    <p>Scholarship</p>
                </div>
            </div>
            <div class="box big-box d">
                <p>Conferences</p>
            </div>
            <div class="spaced">
                <div class="box small-box e">
                    <p>Volunteer</p>
                </div>
                <div class="box small-box f">
                    <p>Leadership</p>
                </div>
            </div>
        </div>
    </div> -->


    <!-- Clubs Section -->
    <div class="clubs-section">
        <h2>Clubs</h2>
        <div class="clubs-container">

            <!-- Networking Club -->
            <div class="club-box">
                <img src="./images/project/networking-pexels-julian-v-860227.jpg" alt="Networking Club Image">
                <div class="inside-box">
                    <h3>Networking Club</h3>
                    <h4>Connect and thrive with our Networking Club</h4>
                    <div class="club-info">
                        <img src="./images/project/icons/icons8-clock-50.png" alt="Meeting Icon">
                        <span>Weekly meetings: Mondays, 9 PM</span>
                    </div>
                    <div class="club-actions">
                        <button class="learn-more">Learn More</button>
                        <div class="icons">
                            <img src="./images/project/icons/icons8-share-48.png" alt="Share Icon">
                            <img src="./images/project/icons/icons8-heart-48.png" alt="Heart Icon">
                            <img src="./images/project/icons/icons8-option-48 (1).png" alt="Options Icon">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Education Club -->
            <div class="club-box">
                <img src="./images/project/education.png" alt="Education Club Image">
                <div class="inside-box">
                    <h3>Education Club</h3>
                    <h4>Explore online learning with our Educational Club</h4>
                    <div class="club-info">
                        <img src="./images/project/icons/icons8-clock-50.png" alt="Meeting Icon">
                        <span>Weekly meetings: Tuesdays, 9 PM</span>
                    </div>
                    <div class="club-actions">
                        <button class="learn-more">Learn More</button>
                        <div class="icons">
                            <img src="./images/project/icons/icons8-share-48.png" alt="Share Icon">
                            <img src="./images/project/icons/icons8-heart-48.png" alt="Heart Icon">
                            <img src="./images/project/icons/icons8-option-48 (1).png" alt="Options Icon">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Scholarship Club -->
            <div class="club-box">
                <img src="./images/project/scholarship.png" alt="Scholarship Club Image">
                <div class="inside-box">
                    <h3>Scholarship Club</h3>
                    <h4>Fueling dreams through our Scholarships Club</h4>
                    <div class="club-info">
                        <img src="./images/project/icons/icons8-clock-50.png" alt="Meeting Icon">
                        <span>Weekly meetings: Wednesdays, 9 PM</span>
                    </div>
                    <div class="club-actions">
                        <button class="learn-more">Learn More</button>
                        <div class="icons">
                            <img src="./images/project/icons/icons8-share-48.png" alt="Share Icon">
                            <img src="./images/project/icons/icons8-heart-48.png" alt="Heart Icon">
                            <img src="./images/project/icons/icons8-option-48 (1).png" alt="Options Icon">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Debate Club -->
            <div class="club-box">
                <img src="./images/project/debate.png" alt="Networking Club Image">
                <div class="inside-box">
                    <h3>Debate Club</h3>
                    <h4>Sharpen your debating skills with our Debate Club tackling diverse topics</h4>
                    <div class="club-info">
                        <img src="./images/project/icons/icons8-clock-50.png" alt="Meeting Icon">
                        <span>Weekly meetings: Thursdays, 9 PM</span>
                    </div>
                    <div class="club-actions">
                        <button class="learn-more">Learn More</button>
                        <div class="icons">
                            <img src="./images/project/icons/icons8-share-48.png" alt="Share Icon">
                            <img src="./images/project/icons/icons8-heart-48.png" alt="Heart Icon">
                            <img src="./images/project/icons/icons8-option-48 (1).png" alt="Options Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <!-- Feedback Section -->
    <!-- <div class="feedback-section">
        Guest speaker's feedback
        <div class="speakers-feedback">
            <p class="feedback-main">
                Events executed with exceptional discipline.
            </p>
            <p class="feedback-caption">Lotfullah Nafizada - Guest Speaker</p>
            <button type="button" class="feedback-btn">Explore Events</button>
        </div>
        <div class="speakers-image">
            <img src="./images/project/najafizada1.jpg" alt="speakers photo">
        </div>
    </div> -->

    <!-- Best Moments and Search Section -->
    <!-- <div class="best-moments-section">
        <h2>Discover Unforgettable Experience at
            Spectacular Events</h2>

        Best moments content

        Search input for events
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <button type="submit"><img src="./images/project/icons/icons8-search-64 (2).png" alt="Search"></button>
        </div>

        <h3>Our Top moments this year</h3>

        <div class="best-moments-boxes">
            Youth Development Box
            <div class="best-moments-box">
                <img src="./images/project/microphone-pexels-suvan-chowdhury-144429.jpg" alt="a microphone">

                <div class="inside-best-moments-box">
                    <h4>Youth Development</h4>

                    <div class="speakers-name">
                        <img src="./images/project/icons/icons8-mic-50.png" alt="Microphone Icon">
                        <p class="name-speaker">Mr Lotfullah Najafizada</p>
                    </div>
                    <div class="speakers-name">
                        <img src="./images/project/icons/icons8-calendar-48 (1).png" alt="Calendar Icon">
                        <p class="date-speaker">Monday, June 06 | 06:42 AM</p>
                    </div>
                    <div class="speakers-name">
                        <img src="./images/project/icons/icons8-location-50.png" alt="Location Icon">
                        <p class="location-speaker">Online - Google Meet</p>
                    </div>
                </div>
            </div>

            Networking Box
            <div class="best-moments-box">
                <img src="./images/project/google-Meet-call.png" alt="a microphone">

                <div class="inside-best-moments-box">
                    <h4>Networking</h4>

                    <div class="speakers-name">
                        <img src="./images/project/icons/icons8-mic-50.png" alt="Microphone Icon">
                        <p class="name-speaker">Mr Abdullah Habib</p>
                    </div>
                    <div class="speakers-name">
                        <img src="./images/project/icons/icons8-calendar-48 (1).png" alt="Calendar Icon">
                        <p class="date-speaker">Monday, June 06 | 06:42 AM</p>
                    </div>
                    <div class="speakers-name">
                        <img src="./images/project/icons/icons8-location-50.png" alt="Location Icon">
                        <p class="location-speaker">Online - Google Meet</p>
                    </div>
                </div>
            </div>

            Entrepreneurship Box
            <div class="best-moments-box">
                <img src="./images/project/startup-pexels-eva-bronzini-6956385.jpg" alt="a microphone">

                <div class="inside-best-moments-box">
                    <h4>Entrepreneurship</h4>

                    <div class="speakers-name">
                        <img src="./images/project/icons/icons8-mic-50.png" alt="Microphone Icon">
                        <p class="name-speaker">Mr Mutiullah Qazi Zada</p>
                    </div>
                    <div class="speakers-name">
                        <img src="./images/project/icons/icons8-calendar-48 (1).png" alt="Calendar Icon">
                        <p class="date-speaker">Sunday, June 06 | 07:00 PM</p>
                    </div>
                    <div class="speakers-name">
                        <img src="./images/project/icons/icons8-location-50.png" alt="Location Icon">
                        <p class="location-speaker">Online - Google Meet</p>
                    </div>
                </div>
            </div>
        </div>

    </div> -->


    <!-- News and Updates Section -->
    <!-- <div class="news-section">
        News content
        <h2>Latest News</h2>
        <div class="news-container">

            News & Updates
            <div class="news-box">
                <img src="./images/project/online-event-pexels-antoni-shkraba-4348404.jpg" alt="Networking Club Image">
                <div class="inside-news-box">
                    <h4>Youth Empowerment</h4>
                    <h4>Online Event</h4>
                </div>
            </div>

            <div class="news-box">
                <img src="./images/project/speaker-pexels-henri-mathieusaintlaurent-8349233.jpg"
                    alt="Networking Club Image">
                <div class="inside-news-box">
                    <h4>Speaker Spotlight: Dr. Jane</h4>
                    <h4>Renowned Primatologist</h4>
                </div>
            </div>

            <div class="news-box">
                <img src="./images/project/achievements-pexels-kampus-production-5940838.jpg"
                    alt="Networking Club Image">
                <div class="inside-news-box">
                    <h4>Youth Networking Gala</h4>
                    <h4>Celebrating Achievements</h4>
                </div>
            </div>
        </div>

        Updates content
        <h2>Latest Updates</h2>
        <div class="news-container updates-container">
            <div class="updates-box">
                <img src="./images/project/news-pexels-lisa-fotios-1369476.jpg" alt="Networking Club Image">
                <div class="inside-updates-box">
                    <div class="event-date">
                        <img src="./images/project/icons/icons8-calendar-100.png">
                        <time>September 3rd 2024</time>
                    </div>
                    <h4>Breaking News from YFY Headquarters</h4>
                </div>
            </div>
            <div class="updates-box">
                <img src="./images/project/achievements1-pexels-fauxels-3184292.jpg" alt="Networking Club Image">
                <div class="inside-updates-box">
                    <div class="event-date">
                        <img src="./images/project/icons/icons8-calendar-100.png">
                        <time>March 17th 2024</time>
                    </div>
                    <h4>In the Spotlight: YFY Achievements</h4>
                </div>
            </div>
            <div class="updates-box">
                <img src="./images/project/progress-pexels-alesia-kozik-6781273.jpg" alt="Networking Club Image">
                <div class="inside-updates-box">
                    <div class="event-date">
                        <img src="./images/project/icons/icons8-calendar-100.png">
                        <time>January 1st 2025</time>
                    </div>
                    <h4>YFY Chronicles: Unveiling Our Progress</h4>
                    <h4>Online Event</h4>
                </div>
            </div>

        </div>
    </div> -->

    <!-- Footer Section -->
    <!-- <footer>
        <div class="footer-section">
            About YFY Section
            <div class="about-yfy">
                <h4>About YFY</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam itaque unde facere repellendus,
                    odio et iste voluptatum aspernatur ratione mollitia tempora eligendi maxime est, blanditis
                    accusamus. Incidunt, aut, quis
                </p>

                Contact Information
                <div class="contact-info">
                    <img src="./images/project/icons/icons8-phone-64.png" alt="phone icon">
                    <span>+1 (123) 456-7890</span>
                </div>
                <div class="contact-info">
                    <img src="./images/project/icons/icons8-mail-48.png" alt="mail icon">
                    <span>support@youthforyouth.com</span>
                </div>

                Email and Message Section
                <div class="email-message-section">
                    <input type="email" placeholder="Your Email">
                    <textarea placeholder="Your Message"></textarea>
                    <button>Send Message</button>
                </div>
            </div>

            Latest Tweets Section
            <div class="latest-tweets">
                <h4>Latest Tweets</h4>
                <div class="tweets">

                    Tweet 1
                    <div class="tweet">
                        <img src="./images/project/icons/icons8-twitter-48.png">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. #YFY #Twitter</p>
                    </div>
                    Tweet 2
                    <div class="tweet">
                        <img src="./images/project/icons/icons8-twitter-48.png">
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. #SocialMedia</p>
                    </div>
                    Tweet 3
                    <div class="tweet">
                        <img src="./images/project/icons/icons8-twitter-48.png">
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo
                            consequat. #Updates</p>
                    </div>
                </div>
            </div>

            <div class="instagram-section">
                <h4>Instagram</h4>
                Instagram Images
                <div class="instagram-images">
                    <img src="./images/project/img1-pexels-annabel-ritson-14503317.jpg" alt="Instagram Post 1">
                    <img src="./images/project/img2-pexels-beyzaa-yurtkuran-19856538.jpg" alt="Instagram Post 2">
                </div>
                <div class="instagram-images">
                    <img src="./images/project/img3-pexels-efe-ersoy-20103950.jpg" alt="Instagram Post 3">
                    <img src="./images/project/img4-pexels-linh-bo-13999127.jpg" alt="Instagram Post 4">
                </div>
            </div>

            Navigation and Brand Text
        </div>
        <div class="footer-nav">
            Navigation Links
            <div>

                <ul>
                    <li><a class="color" href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Support Us</a></li>
                </ul>
            </div>

            Brand Text
            <div>
                <p>YouthForYouth</p>
            </div>
        </div>
    </footer> -->

</body>

</html>