.aboutUsMain {
    padding: 20vw 7.2vw;
    background-image: url("/images/project/Abstract_background_with_brush_strokes_in_memphis_style.jpg");
    /* background-position: center; */
    /* background-size: cover; */
}

.aboutUsMain h1 {
    font-size: 4vw;
    text-align: center;
    line-height: 5vw;
    font-weight: 700;
}

/* .aboutUsMain p {
    font-size: 1.5vw;
} */

.aboutUsMotoContainer {
    padding: 10vw 10vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.motoSectionTitle h1 {
    color: var(--primary-color);
    font-family: "Jacquard 24", system-ui;
    font-weight: 300;
    font-size: 5vw;

}

.motoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    padding: 0 4vw;
}

.motoSection h2,
.visionSection h2,
.missionSection h2 {
    font-size: 2vw;
    font-weight: 800;
    padding-bottom: 1vw;
}

.motoSection p,
.visionSection p,
.missionSection p {
    font-size: 2vw;
}

.aboutUsFounderContainer {
    display: flex;
}

.founderImageSection img {
    border-radius: 50%;
    width: 25vw;
    height: 32vw;
    object-fit: contain;
}

.founderInfoSection {
    border-radius: .5vw;
    background-color: rgba(169, 169, 169, 60%);
    padding: 3vw;
}
.founderInfoSection h2{
    font-weight: 500;
    font-size: 1.5vw;
}

.founderBackground {
    padding-top: 2vw;
}

.founderBackground p{
    line-height: 2vw;
}
